<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/stylesheets/base.css" rel="stylesheet">
    <link href="/stylesheets/index.css" rel="stylesheet">
    <link href="/stylesheets/mask.css" rel="stylesheet">
    <link href="/stylesheets/admin.css" rel="stylesheet">
    

    <title>文章管理</title>
</head>
<body>
    <%include header.ejs %>
    <article>
    <div class="adminWel"><a href="/">返回我的首页</a> >> 文章管理</div> 
    <%include AdminLeft.ejs %>
    <div class="admin_box">
    <h3>共有3篇博客，每页显示40，共3</h3>    
    <form action="/delete">
        <div class="choice"><a href="">全选</a><a href="">取消</a><a href="">反向选择</a><a href="">删除选中</a></div>    
        <ul class="addtype">
        <% for(let i=0;i<blogs.length;i++){
        %>
         <li class="article_lists">
            <input type="checkbox" name="blog" value="<%=blogs[i].blog_id%>">
            <%=blogs[i].title%> <%=blogs[i].creat_time%> 
            </li>
        <% }  %>

        </ul>
       
       
        
    </form>
    </div>

    </article>

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/sliders.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
    <script type="text/javascript" src="/javascripts/l_nav.js"></script>
</body>
</html>