<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/stylesheets/base.css" rel="stylesheet">
    <link href="/stylesheets/index.css" rel="stylesheet">
    <link href="/stylesheets/mask.css" rel="stylesheet">
    <link href="/stylesheets/detail.css" rel="stylesheet">
    

    <title>所有内容</title>
</head>
<body>
    <%include header.ejs %>
    <article>
     <div class="l_box f_l">
        <div class="detail-box">
        所有博客
        </div>
     </div>
    <%include right.ejs %>
    </article>

    <% include footer%>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/sliders.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
</body>
</html>