<header>
  <div class="logo f_l"> <a href="/"><img class="logo" src="images/logo.png"></a> </div>
  <nav id="topnav" class="middle">
    <ul>
      <a href="/" >首页</a> <a href="news.html" target="_blank">关于我</a> <a href="/blog" >文章</a> <a href="a.html" target="_blank">心情</a> <a href="c.html" target="_blank">相册</a> <a href="b.html" target="_blank">留言</a>
    </ul>
    <script src="/javascripts/nav.js"></script> 
  </nav>
      <span class="log ">
      <%= user?user.userName +'您好':""  %>
      <%if(user){%>  
            <a href="/logout" class="logout">注销</a>
            <a href="/admin" class="logout">个人中心</a>
      <%}else{%>
        <a href="javascript:void(0)" class="login">登录</a> | <a href="javascript:void(0)" class="register">注册</a>      
      <%}%>
    </span>
</header>
<script type="text/javascript" src="/javascripts/index.js"></script>
