
.adminWel{
    font-size: 20px;
    margin-top: 5%;
    color: black;
}
.adminWel a{
    color:rgb(131,175,155);
    
}
.l_list{
    width: 280px; background: #fff; box-shadow:0 1px 2px 0 #E2E2E2;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
}
.l_list ul {
    font-size:20px;
    margin-bottom: 20px;
    text-indent: 10%;
    font-weight: bolder;
    
}
.l_list li{
    text-indent: 20%;
    height: 40px;
    line-height: 40px;
    
}
.l_list li:hover{
    background: #ccc;
}
.l_list ul a {
    color:rgb(131,175,155);
}
.l_list a:hover{
   color: green; 
}
.admin_box{
    display: inline-block;
    float: right;
    width: 680px; background: #fff; box-shadow:0 1px 2px 0 #E2E2E2;
    height: 420px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 16px;
}
.admin_box p{
    line-height: 420px;
}
h3{font-size: 20px;margin: 5px;margin-left:0;}
.addtype{
    margin-left: 40px;
    margin-top: 40px;
    color: black;
    text-align: start;
    
}
#blog_content{
    width: 600px;
    height: 200px;
}
.big_btn{
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;

}
#list_current{
    background: rgb(200,200,169);
}
.choice{
    display: flex;
}
.choice a{
    flex-grow: 1;
    color:black;
}